InlayHints:
  Designators: No
  Enabled: No
  DeducedTypes: No
CompileFlags:
  Remove: [-fconserve-stack, -fno-allow-store-data-races, -mpreferred-stack-boundary=3, -mindirect-branch=thunk-extern, -mindirect-branch-register, -fsanitize=, -mrecord-mcount]
